@using Nop.Core.Domain.Catalog
@using Nop.Services
@model ProductModel

<div class="panel-group">
    <p>
        @T("Admin.Catalog.Products.SpecificationAttributes.Hint")
    </p>
    @if (Model.Id > 0)
    {
         
    }
</div>