@model CustomerUserSettingsModel

<script type="text/javascript">
    $(document).ready(function () {
 
        $("#@Html.IdFor(model => model.CustomerSettings.PhoneEnabled)").click(toggleCustomerRequiredFormField);
       
        toggleCustomerCountryFormField();
        toggleCustomerStateProvinceFormField();
        toggleCustomerRequiredFormField();
        toggleNewsletterEnabledField();
        toggleHideNewsletterBlock();
    });
	 
    

    function toggleCustomerRequiredFormField() { 

        if ($('#@Html.IdFor(model => model.CustomerSettings.PhoneEnabled)').is(':checked')) {
            $('#pnlCustomerPhoneRequired').show();
        } else {
            $('#pnlCustomerPhoneRequired').hide();
        } 
    }
	 
    
</script>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            @T("Admin.Configuration.Settings.CustomerUser.BlockTitle.DefaultFields")
        </div>
        <div class="panel-body">
            <p>
                <em>@T("Admin.Configuration.Settings.CustomerUser.CustomerFormFields.Description")</em>
            </p>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.GenderEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.GenderEnabled" />
                    <span asp-validation-for="CustomerSettings.GenderEnabled"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.DateOfBirthEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.DateOfBirthEnabled" />
                    <span asp-validation-for="CustomerSettings.DateOfBirthEnabled"></span>
                </div>
            </div>
            <div class="form-group" id="pnlCustomerDateOfBirthRequired">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.DateOfBirthRequired" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.DateOfBirthRequired" />
                    <span asp-validation-for="CustomerSettings.DateOfBirthRequired"></span>
                </div>
            </div>
            <div class="form-group" id="pnlDateOfBirthMinimumAge">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.DateOfBirthMinimumAge" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.DateOfBirthMinimumAge" />
                    <span asp-validation-for="CustomerSettings.DateOfBirthMinimumAge"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.CompanyEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.CompanyEnabled" />
                    <span asp-validation-for="CustomerSettings.CompanyEnabled"></span>
                </div>
            </div>
            <div class="form-group" id="pnlCustomerCompanyRequired">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.CompanyRequired" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.CompanyRequired" />
                    <span asp-validation-for="CustomerSettings.CompanyRequired"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.StreetAddressEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.StreetAddressEnabled" />
                    <span asp-validation-for="CustomerSettings.StreetAddressEnabled"></span>
                </div>
            </div>
            <div class="form-group" id="pnlCustomerStreetAddressRequired">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.StreetAddressRequired" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.StreetAddressRequired" />
                    <span asp-validation-for="CustomerSettings.StreetAddressRequired"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.StreetAddress2Enabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.StreetAddress2Enabled" />
                    <span asp-validation-for="CustomerSettings.StreetAddress2Enabled"></span>
                </div>
            </div>
            <div class="form-group" id="pnlCustomerStreetAddress2Required">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.StreetAddress2Required" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.StreetAddress2Required" />
                    <span asp-validation-for="CustomerSettings.StreetAddress2Required"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.ZipPostalCodeEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.ZipPostalCodeEnabled" />
                    <span asp-validation-for="CustomerSettings.ZipPostalCodeEnabled"></span>
                </div>
            </div>
            <div class="form-group" id="pnlCustomerZipPostalCodeRequired">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.ZipPostalCodeRequired" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.ZipPostalCodeRequired" />
                    <span asp-validation-for="CustomerSettings.ZipPostalCodeRequired"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.CityEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.CityEnabled" />
                    <span asp-validation-for="CustomerSettings.CityEnabled"></span>
                </div>
            </div>
            <div class="form-group" id="pnlCustomerCityRequired">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.CityRequired" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.CityRequired" />
                    <span asp-validation-for="CustomerSettings.CityRequired"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.CountryEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.CountryEnabled" />
                    <span asp-validation-for="CustomerSettings.CountryEnabled"></span>
                </div>
            </div>
            <div class="form-group" id="pnlCustomerCountryRequired">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.CountryRequired" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.CountryRequired" />
                    <span asp-validation-for="CustomerSettings.CountryRequired"></span>
                </div>
            </div>
            <div class="form-group" id="pnlCustomerStateProvinceEnabled">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.StateProvinceEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.StateProvinceEnabled" />
                    <span asp-validation-for="CustomerSettings.StateProvinceEnabled"></span>
                </div>
            </div>
            <div class="form-group" id="pnlCustomerStateProvinceRequired">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.StateProvinceRequired" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.StateProvinceRequired" />
                    <span asp-validation-for="CustomerSettings.StateProvinceRequired"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.PhoneEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.PhoneEnabled" />
                    <span asp-validation-for="CustomerSettings.PhoneEnabled"></span>
                </div>
            </div>
            <div class="form-group" id="pnlCustomerPhoneRequired">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.PhoneRequired" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.PhoneRequired" />
                    <span asp-validation-for="CustomerSettings.PhoneRequired"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.FaxEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.FaxEnabled" />
                    <span asp-validation-for="CustomerSettings.FaxEnabled"></span>
                </div>
            </div>
            <div class="form-group" id="pnlCustomerFaxRequired">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.FaxRequired" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.FaxRequired" />
                    <span asp-validation-for="CustomerSettings.FaxRequired"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.AcceptPrivacyPolicyEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.AcceptPrivacyPolicyEnabled" />
                    <span asp-validation-for="CustomerSettings.AcceptPrivacyPolicyEnabled"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.NewsletterEnabled" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.NewsletterEnabled" />
                    <span asp-validation-for="CustomerSettings.NewsletterEnabled"></span>
                </div>
            </div>
            <div class="form-group" id="pnlCustomerNewsletterTickedByDefault">
                <div class="col-md-3">
                    <nop-label asp-for="CustomerSettings.NewsletterTickedByDefault" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="CustomerSettings.NewsletterTickedByDefault" />
                    <span asp-validation-for="CustomerSettings.NewsletterTickedByDefault"></span>
                </div>
            </div>
        </div>
    </div>
</div>