@model HeaderLinksModel
@using System.Text.Encodings.Web
<div class="header-links">
    <ul>
        @await Component.InvokeAsync("Widget", new { widgetZone = "header_links_before" })
        @if (Model.IsAuthenticated)
        {
            <li><a href="@Url.RouteUrl("CustomerInfo")" class="ico-account">@Model.CustomerName</a></li>
            <li><a href="@Url.RouteUrl("Logout")" class="ico-logout">注销</a></li>
        }
        else
        {          
            <li><a href="@Url.RouteUrl("Login")" class="ico-login">登录</a></li>
        }
        
        @await Component.InvokeAsync("Widget", new { widgetZone = "header_links_after" })
    </ul>
    
  
</div>
