@model DashboardModel
@inject IPermissionService permissionService
@using Nop.Services.Security
@{
    Html.AppendCssFileParts("~/lib/ionicons/css/ionicons-2.0.1.min.css");

    //page title
    ViewBag.Title = T("Admin.Dashboard").Text; 
    
    var canManageCustomers = permissionService.Authorize(StandardPermissionProvider.ManageCustomers);
    var canManageProducts = permissionService.Authorize(StandardPermissionProvider.ManageProducts);
    var canManageReturnRequests = permissionService.Authorize(StandardPermissionProvider.ManageReturnRequests);
}
<nop-antiforgery-token />
<div class="content-header">
    <h1>
       本地预览
    </h1>
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_dashboard_top" })
           
                <div class="row">
                    <div class="col-md-12">
                        @await Component.InvokeAsync("NopCommerceNews")
                    </div>
                </div>
            
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_dashboard_news_after" })
           
                <div class="row">
                    <div class="col-md-12">
                      
                    </div>
                </div>
            
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_dashboard_commonstatistics_after" })
           
                <div class="row">
                    
                        <div class="col-md-6">
                         
                        </div>
                 
                        <div class="col-md-6">
                          
                        </div>
                   
                </div>
         
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_dashboard_customerordercharts_after" })
            
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_dashboard_orderreports_after" })
          
                <div class="row">
                  
                    <div class="col-md-4">
                       
                    </div>
                </div>
          
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_dashboard_latestorders_searchterms_after" })
           
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_dashboard_bottom" })
        </div>
    </div>
</div>
@*<h4>Profile Completeness: <span id="completed">40%</span></h4>
<div id="passStrength" style="width: 80%;"></div>
<script type="text/javascript">
    var passProgress;
    $(document).ready(function () {
        passProgress = $("#passStrength").kendoProgressBar({
            type: "percent",
            min:0,
            max: 100,
            animation: true,
        }).data("kendoProgressBar");
        passProgress.value(76.6);
        passProgress.progressStatus.text("Empty");
    });
</script>*@