@model FooterModel
@using Nop.Core
@inject IWorkContext workContext;
<div class="footer"> 
    <div class="footer-lower">
        <div class="footer-info">
            <span class="footer-disclaimer">@T("Copyright {0}", DateTime.Now.Year)</span>
            
        </div>
        @*@if (!Model.HidePoweredByNopCommerce)
        {
            <div class="footer-powered-by"> 
                Powered by <a href="#">HCDZ</a>
            </div>
        }*@
      
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = "footer" })
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.footer-block .title').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                $(this).siblings('.list').slideToggle('slow');
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.block .title').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>