<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" nopResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard" nopResource="首页" controller="Home" action="Index" IconClass="fa-desktop" />
    <siteMapNode SystemName="Catalog" nopResource="PCIE管理" PermissionNames="ManageProducts,ManageCategories,ManageManufacturers,ManageProductReviews,ManageProductTags,ManageAttributes" IconClass="fa-book" >
      <siteMapNode SystemName="Products" nopResource="板卡列表" PermissionNames="ManageProducts" controller="Product" action="List" IconClass="fa-dot-circle-o"/>
      <!--<siteMapNode SystemName="Categories" nopResource="Admin.Catalog.Categories" PermissionNames="ManageCategories" controller="Category" action="List" IconClass="fa-dot-circle-o"/>-->
     
    </siteMapNode>  
      <siteMapNode SystemName="Customers" nopResource="用户管理" PermissionNames="ManageCustomers, ManageVendors, ManageActivityLog" IconClass="fa-user" >
        <siteMapNode SystemName="Customers list" nopResource="用户" PermissionNames="ManageCustomers" controller="Customer" action="List" IconClass="fa-dot-circle-o" />
        <siteMapNode SystemName="Customer roles" nopResource="角色" PermissionNames="ManageCustomers" controller="CustomerRole" action="List" IconClass="fa-dot-circle-o" />
        <!--<siteMapNode SystemName="Online customers" nopResource="在线用户" PermissionNames="ManageCustomers" controller="OnlineCustomer" action="List" IconClass="fa-dot-circle-o" />-->
      </siteMapNode>

    <siteMapNode SystemName="Activity log" nopResource="活动日志" PermissionNames="ManageActivityLog" IconClass="fa-dot-circle-o">
      <siteMapNode SystemName="Activity log list" nopResource="活动日志" controller="ActivityLog" action="ListLogs" IconClass="fa-genderless"/>
      <siteMapNode SystemName="Activity types" nopResource="日志类型" controller="ActivityLog" action="ListTypes" IconClass="fa-genderless"/>
    </siteMapNode>
      <siteMapNode SystemName="Content Management" nopResource="文件管理" PermissionNames="ManagePolls, ManageNews, ManageBlog, ManageTopics, ManageForums, ManageMessageTemplates" IconClass="fa-cubes">
        <siteMapNode SystemName="Topics" nopResource="Admin.ContentManagement.Topics" PermissionNames="ManageTopics" controller="Topic" action="List" IconClass="fa-dot-circle-o" />
        <siteMapNode SystemName="Message templates" nopResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List"  IconClass="fa-dot-circle-o"/>
      </siteMapNode>
      <siteMapNode SystemName="Configuration" nopResource="系统设置" PermissionNames="ManageCountries,ManageLanguages,ManageSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageWidgets,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageACL,ManageEmailAccounts,ManagePlugins"
         IconClass="fa-gears">
        <siteMapNode SystemName="Settings" nopResource="基本设置" PermissionNames="ManageSettings" IconClass="fa-dot-circle-o" >
          <siteMapNode SystemName="General settings" nopResource="通用设置" controller="Setting" action="GeneralCommon" IconClass="fa-genderless"/>
          <siteMapNode SystemName="Customer and user settings" nopResource="用户设置" controller="Setting" action="CustomerUser" IconClass="fa-genderless"/>

          <siteMapNode SystemName="Catalog settings" nopResource="目录设置" controller="Setting" action="Catalog" IconClass="fa-genderless"/>
      
          <siteMapNode SystemName="Media settings" nopResource="媒体设置" controller="Setting" action="Media" IconClass="fa-genderless"/>
          <siteMapNode SystemName="All settings" nopResource="所有设置" controller="Setting" action="AllSettings" IconClass="fa-genderless"/>
        </siteMapNode>
        <siteMapNode SystemName="Stores" nopResource="网站信息" PermissionNames="ManageStores" controller="Store" action="List" IconClass="fa-dot-circle-o"/>
       
        <siteMapNode SystemName="Access control list" nopResource="权限控制" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="fa-dot-circle-o" />
        <siteMapNode SystemName="Widgets" nopResource="页面部件" PermissionNames="ManageWidgets" controller="Widget" action="List"  IconClass="fa-dot-circle-o"/>
     
        <siteMapNode SystemName="Plugins" nopResource="插件管理" PermissionNames="ManagePlugins" IconClass="fa-dot-circle-o">
          <siteMapNode SystemName="Local plugins" nopResource="Plugins.Local" PermissionNames="ManagePlugins" controller="Plugin" action="List" IconClass="fa-genderless"/>
          <siteMapNode SystemName="All plugins and themes catalog" nopResource="Plugins.OfficialFeed" PermissionNames="ManagePlugins" controller="Plugin" action="OfficialFeed" IconClass="fa-genderless"/>
        </siteMapNode> 
      </siteMapNode>
        <siteMapNode SystemName="System" nopResource="运行信息" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" IconClass="fa-cube">
          <siteMapNode SystemName="System information" nopResource="系统信息" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo"  IconClass="fa-dot-circle-o"/>
          <siteMapNode SystemName="Log" nopResource="错误日志" PermissionNames="ManageSystemLog" controller="Log" action="List"  IconClass="fa-dot-circle-o"/>
          <siteMapNode SystemName="Warnings" nopResource="警告信息" PermissionNames="ManageMaintenance" controller="Common" action="Warnings"  IconClass="fa-dot-circle-o"/>
          <siteMapNode SystemName="Maintenance" nopResource="系统维护" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance"  IconClass="fa-dot-circle-o"/>
      
          <siteMapNode SystemName="Schedule tasks" nopResource="任务计划" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List"  IconClass="fa-dot-circle-o"/>
          <!--<siteMapNode SystemName="Search engine friendly names" nopResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames"  IconClass="fa-dot-circle-o"/>-->

        </siteMapNode>
       
    <siteMapNode SystemName="Help" nopResource="帮助中心" IconClass="fa-question-circle">
         
        </siteMapNode>        
  </siteMapNode>
       </siteMap>

