<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" nopResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard" nopResource="首页" controller="Home" action="Index" IconClass="fa-desktop" />
    <siteMapNode SystemName="Products" nopResource="PCIE管理" controller="Product" action="List" PermissionNames="ManageProducts,ManageCategories,ManageManufacturers,ManageProductReviews," IconClass="fa-book" >

      <!--<siteMapNode SystemName="Categories" nopResource="板卡列表" PermissionNames="ManageCategories" controller="Category" action="List" IconClass="fa-dot-circle-o"/>-->
      <!--<siteMapNode SystemName="Products" nopResource="板卡信息" PermissionNames="ManageProducts" controller="Product" action="List" IconClass="fa-dot-circle-o"/>-->

    </siteMapNode>
    <siteMapNode SystemName="Content Management" nopResource="远程管理" PermissionNames="ManageNews,ManageCategories" IconClass="fa-cubes">
      <siteMapNode SystemName="Topics" nopResource="文件管理" PermissionNames="ManageCategories" controller="Directorys" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Message templates" nopResource="磁盘管理" PermissionNames="ManageCategories" controller="HardDrive" action="List"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Customers" nopResource="用户管理" PermissionNames="ManageCustomers,ManageActivityLog" IconClass="fa-user" >
      <siteMapNode SystemName="Customers list" nopResource="用户" PermissionNames="ManageCustomers" controller="Customer" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Customer roles" nopResource="角色" PermissionNames="ManageCustomers" controller="CustomerRole" action="List" IconClass="fa-dot-circle-o" />
      <!--<siteMapNode SystemName="Online customers" nopResource="在线用户" PermissionNames="ManageCustomers" controller="OnlineCustomer" action="List" IconClass="fa-dot-circle-o" />-->
    </siteMapNode>

    <siteMapNode SystemName="System" nopResource="运行信息" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" IconClass="fa-cube">
      <!--<siteMapNode SystemName="System information" nopResource="系统信息" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo"  IconClass="fa-dot-circle-o"/>-->
      <siteMapNode SystemName="Log" nopResource="错误日志" PermissionNames="ManageSystemLog" controller="Log" action="List"  IconClass="fa-dot-circle-o"/>
      <!--<siteMapNode SystemName="Warnings" nopResource="警告信息" PermissionNames="ManageMaintenance" controller="Common" action="Warnings"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Maintenance" nopResource="系统维护" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance"  IconClass="fa-dot-circle-o"/>

      <siteMapNode SystemName="Schedule tasks" nopResource="任务计划" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List"  IconClass="fa-dot-circle-o"/>-->
      
    </siteMapNode>
  </siteMapNode>
</siteMap>

